<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peng.mapper.MyMapper">
    <!--更新个签-->
    <select id="updateDesc">
        update  user
        set user_desc = #{desc}
        where tel = #{userTel}
    </select>
    <!--更新性别-->
    <select id="updateGender">
        update  user
        set gender = #{gender}
        where id = #{uid}
    </select>
    <!--更新昵称-->
    <select id="updatename">
        update  user
        set username = #{username}
        where id = #{uid}
    </select>

    <select id="updateimg">
        update  user
        set imgUrl = #{img}
        where id = #{uid}
    </select>

    <select id="searchmis" resultType="Mistake">
        select *
        from mistake_question
        where id =#{id}
    </select>

    <select id="remove">
        delete
        from mistake_question
        where uid=#{id}
    </select>

    <select id="removeall">
        delete
        from mistake_question
        where id=#{id}
    </select>
</mapper>
